<!-- TopNavBar (Desktop) -->
<header class="hidden md:flex justify-between items-center h-16 px-margin-desktop w-full top-0 sticky z-30 bg-surface shadow-sm">
  <div class="flex items-center bg-surface-container-highest rounded-full px-4 py-2 w-96">
    <span class="material-symbols-outlined text-on-surface-variant mr-2">search</span>
    <input class="bg-transparent border-none focus:ring-0 text-body-md w-full text-on-surface placeholder:text-on-surface-variant py-0" placeholder="Buscar paciente, ID o cita..." type="text">
  </div>
  <div class="flex items-center gap-4">

  </div>
</header>
<!-- Top Header Mobile -->
<header class="md:hidden flex justify-between items-center px-margin-mobile py-4 bg-surface sticky top-0 z-30 shadow-sm border-b border-outline-variant">
  <h1 class="font-headline-lg-mobile text-headline-lg-mobile font-bold text-primary flex items-center gap-2">
    <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">medical_services</span>
    Meditech
  </h1>
  <div class="flex gap-3">
    <button class="text-on-surface-variant hover:text-primary">
      <span class="material-symbols-outlined">search</span>
    </button>

  </div>
</header>
